USE [master]
GO
/****** Object:  Database [test]    Script Date: 6/8/2021 11:00:10 PM ******/
CREATE DATABASE [test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\test.mdf' , SIZE = 2350080KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\test_log.ldf' , SIZE = 1341696KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test]
GO
/****** Object:  Table [dbo].[before_stemmer]    Script Date: 6/8/2021 11:00:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[before_stemmer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doc_id] [nvarchar](max) NULL,
	[term] [nvarchar](max) NULL,
 CONSTRAINT [PK_before_stemmer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[crawler_data]    Script Date: 6/8/2021 11:00:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crawler_data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[URL] [varchar](max) NOT NULL,
	[content_data] [varchar](max) NOT NULL,
 CONSTRAINT [PK_crawler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tockenz]    Script Date: 6/8/2021 11:00:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tockenz](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sring] [nvarchar](max) NULL,
	[doc_no] [int] NULL,
	[position] [nvarchar](max) NULL,
	[frequency] [int] NULL,
 CONSTRAINT [PK_tockenz] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tockenz]  WITH CHECK ADD  CONSTRAINT [FK_tockenz_tockenz] FOREIGN KEY([doc_no])
REFERENCES [dbo].[crawler_data] ([id])
GO
ALTER TABLE [dbo].[tockenz] CHECK CONSTRAINT [FK_tockenz_tockenz]
GO
USE [master]
GO
